body {
  margin: 0;
  background-image: linear-gradient(to bottom, #af68ea, #6361e6);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
}

h3 {
  margin: 0 0 45px;
  font-weight: 700;
}

h6 {
  margin: 0;
  cursor: pointer;
  font-size: 14px;
}

h6:hover {
  color: #F47C57;
  font-weight: 700;
}

.mobile-image {
  height: 300px;
  width: 295px;
  background-image: url("https://user-images.githubusercontent.com/72313013/121724813-9a174c00-cb12-11eb-8415-9be941029587.png");
  background-repeat: no-repeat;
  background-size: 295px auto;
  position: absolute;
  z-index: -1;
  left: 300px;
}

.box {
  position: absolute;
  top: 335px;
  left: 128px;
}

/* Content */

#content {
  margin: 130px 260px;
  background-color: #fff;
  background-image: url("https://user-images.githubusercontent.com/72313013/121724805-97b4f200-cb12-11eb-8367-c87c0f20228b.png"), url("https://user-images.githubusercontent.com/72313013/121724811-997eb580-cb12-11eb-9050-efa13c2b32e6.png");
  background-position: right 440px top -330px, right 440px top 70px;
  background-repeat: no-repeat;
  background-size: auto 1000px, auto 360px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inside-content {
  margin-left: 460px;
  margin-right: 40px;
  padding: 70px 0 80px 10px;
  width: 50%;
}

.ask {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.chosen-ask.blur {
  color: #000;
  font-weight: 700;
}

.chosen-ask:hover {
  color: #000;
}

.answer {
  margin: 16px 0;
}

.blur {
  color: #787887;
}

.rotate-arrow {
  transform: rotate(180deg);
}

/* Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3E52A3;
}

@media screen and (max-width: 375px) {
  h3 {
    text-align: center;
  }

  #content {
    margin: 145px 25px;
    background-image: url("https://user-images.githubusercontent.com/72313013/121724809-98e61f00-cb12-11eb-80ef-9c7c22769c50.png"), url("");
    background-position: top, top;
    background-repeat: no-repeat;
    background-size: 266px auto, 1000px 1000px;
  }

  .mobile-image {
    z-index: 2;
    top: 26px;
    left: 80px;
  }

  .box {
    z-index: -2;
  }

  .inside-content {
    margin: 0 25px;
    padding: 135px 0 35px;
    width: 100%;
  }

  .answer {
    padding-right: 30px;
  }
}
